@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.upload {
    &--main-wrapper{
        display:flex;
        flex-direction: column;
        @include desktop{
            flex-direction: row;
        }
    }
    margin: $mobile-margin;
    margin-top: 0;

    @include tablet {
        margin: $tablet-margin;
        margin-top: 0;
        @include desktop{
            margin: $desktop-margin;
            margin-top: 0;
        }
    }


    &--divider {
        @include divider;
        
        &--tablet {
            @include tablet {
                @include divider;
            }
        }
    }

    &--title{
        margin-bottom: $tablet-gutter;
    }

    &--img-wrapper{
        @include tablet{
            width:50%;
            @include desktop{
                width: 35%;
            }
        }
    }

    &__subtitle {
        color: $primary-silver;
        @include tablet{
            margin-top: $tablet-gutter;
        }
    }

    &__preview-img {
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
        
        @include tablet{
            
            @include desktop{
                height: 193px;
            }
        }
    }

    &__form {
        
        &--wrapper {
            @include desktop{
                margin: $tablet-gutter 0 0 $tablet-gutter;
                width:63%;
            }
        }

        &__title {
            
            &--wrapper {
                margin: $mobile-margin 0;
                @include desktop{
                    margin-top: 0;
                    width: 100%;
                }
            }
            &--input {
                margin: 8px 0;
                @include textbox;
                width: calc(100% - 20px);

                @include tablet {
                    width: calc(100% - 20px);
                }

            }
        }

        &__description {
            &--wrapper {
                margin-bottom: $mobile-margin;
            }
            &--input {
                resize: none;
                height: 100px;
                width: calc(100% - 20px);
                border: 1.5px solid $secondary-silver;
                border-radius: 5px;
                background-color: $secondary-light;
                line-height: 35px;
                padding-left: 15px;

                &::placeholder {
                    line-height: 35px;
                }
            }
        }

    }

    &__button {
        display: flex;
        flex-direction: column;
        

        @include tablet {
            margin-top: $tablet-gutter;
            flex-direction: row-reverse;
        }

        &__publish {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin:  $mobile-margin 0;
            height: 40px;
            width: 100%;

            background-color: $primary-blue;
            color: $primary-light;
            border: none;
            border-radius: 6px;

            @include tablet {
                margin: 0 0 0 $mobile-margin;
                width: 180px;
            }

            &--text {
                padding-right: calc(50% - 27px);
            }

            &--icon-wrapper {
                position: relative;
                left: 3px;
            }

            &:hover {
                background-color: $secondary-blue;
                cursor: pointer;
            }

            &--icon-wrapper {}

            &--icon {}
        }

        &__cancel {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            height: 40px;
            width: 100%;
            margin:  $mobile-margin 0;

            background-color: $primary-light;
            color: $primary-blue;
            border: none;
            border-radius: 6px;

            @include tablet {
                margin: 0 $mobile-margin;
                width: 180px;
            }

            &:hover {
                background-color: $secondary-silver;
                color: $secondary-blue;
                cursor: pointer;
            }

            &--link{
                text-decoration: none;
            }
        }
    }
}