// VARIABLES
$primary-dark: #323232;
$primary-blue: #0095FF;
$primary-silver: #AFAFAF;
$primary-light: #FFFFFF;

$secondary-dark: #000000;
$secondary-blue: #0065AD;
$secondary-silver: #E1E1E1;
$secondary-light: #FAFAFA;

$mobile-margin: 16px;
$mobile-column: auto;

$tablet-width: 768px;
$tablet-margin: 36px;
$tablet-gutter: 24px;
$tablet-column: auto;

$desktop-width: 1200px;
$desktop-margin: 124px;
$desktop-gutter: 24px;
$desktop-column: 63px;


$font-regular: "AvenirNext";
$font-bold:"AvenirNext-bold";
$font-demi:"AvenirNext-demi";