@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

textarea, textarea::placeholder{

        line-height: 35px;
        padding-left:15px;
      
}

.comment--wrapper {
    display: flex;
    flex-direction: row;
}

.comment-total{
    margin-left: $mobile-margin;
    @include tablet{
        margin-left: $tablet-margin;
    }
}

.comment {
    width: 100%;

    &--avatar {
        margin: 19px $mobile-margin;

        @include desktop{
            margin: $tablet-gutter calc($tablet-gutter*2) $tablet-gutter $tablet-gutter;

        }


    }

    &__form {
        display:flex;
        flex-direction:column;
        @include tablet{
            flex-direction: row;
        }

        &__content--wrapper{

        }

        &__content {
            width: 205px;
            font-weight: 600;
            color: $primary-silver;

        }

        &__input {
            resize: none;
            height: 100px;
            width: calc(100% - 43px);

            border: 1.5px solid $secondary-silver;
            border-radius: 5px;
            padding:12px;
            // margin-right:$mobile-margin;
            line-height: 35px;

            &::placeholder{
                line-height: 35px;
        padding-left:15px;
            }
          
            

            @include tablet{
                height: 35px;
                width: 300px;
                padding:0;
                vertical-align: middle;
            }
        }
    }

    &__button {
        background-color: $primary-blue;
        color: white;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        height: 40px;
        width: calc(100% - 17px);
        margin: $mobile-margin 0;
        justify-content: center;


        @include tablet {
            margin: 19px;
            width: 200px;
        }

        &--icon {
            display: flex;
        }
    }
}