@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.description--wrapper{
    
    @include desktop{
        width:95%;
    }
}
.description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
    &__authorAndDate {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            width: 40%;
            justify-content: space-between;
        }

        &--author {}

        &--date {
            font-weight: 400;
            color: $primary-silver;
        }
    }

    &__viewsAndLikes {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }

        &__views {
            display: flex;
            color: $primary-silver;
            &--icon{
                margin-right:$mobile-margin;
            }
        }

        &__likes {
            display: flex;
            color: $primary-silver;
            &--icon{
                margin-right:$mobile-margin;
            }
        }
    }

    &__content{
        margin: $mobile-margin;
    }










    &--divider {
        height: 1.5px;
        width: 100%;
        background-color: $secondary-silver;
        margin: 0 auto;

        &--mobile {
            // display:flex;
            background-color: red;
            // @include tablet {
            //     display: none;
            // }
        }
    }
}