@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $primary-light;

    @include tablet {
        justify-content: space-between;
        flex-direction: row;
    }

    &__content {
margin-bottom: 80px;
        @include tablet {
            justify-content: space-evenly;
            flex-direction: row;
        }
    }

    &__logo {
        display: flex;
        height: 40px;
        align-items: center;
        margin: $mobile-margin;

        &--wrapper {
            display: flex;
            background-color: $primary-blue;
            border-radius: 20% / 30%;
            height: 25px;
            width: 25px;
            justify-content: center;
            align-items: center;
            width: 30px;
            margin: $mobile-margin;
        }

        &--play {
            height: 16px;
        }

        &--title {
            text-decoration: none;
        }
    }

    &__content {
        display: flex;
        height: 40px;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }

        &__search {
            display: flex;
            position: relative;
            width: 90vw;
            justify-content: center;

            @include tablet {
                width: 300px;
            }

            &--box {
                border-radius: 5px;
                border: 1.5px solid $secondary-silver;
                background-color: $secondary-light;
                color: $secondary-dark;
                height: 40px;
                width: 90vw;
                @include tablet {
                    width: 300px;
                }
            }

            &--icon {
                position: absolute;
                left: 11px;
                top: 14px;
            }
        }

        &__upload {
            display: flex;
            margin: $mobile-margin 0;
            width:calc(100vw - 32px);

            @include tablet {
                margin: 0 $mobile-margin;
                width: 200px;
            }

            &__button {
                background-color: $primary-blue;
                // background-color: #0095FF;
                color: white;
                border: none;
                border-radius: 6px;
                display: flex;
                align-items: center;
                height: 40px;
                width: 95%;
                margin: 0;
                justify-content: center;

                @include tablet {
                    margin: 0 $mobile-margin;
                    width: 200px;
                }

                &--icon {
                    display: flex;
                }
            }
        }

    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

    &--mobile {
        display: flex;
        margin-left: $mobile-margin;

        @include tablet {
            display: none;
        }
    }

    &--tablet {
        display: none;

        @include tablet {
            display: flex;
            margin-left: $mobile-margin;
        }
    }
}