@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.video-list {

    &__title {
        margin: 0 $mobile-margin;
        font-weight: 600;
        color: $primary-silver;
    }

    &--divider {
        height: 1.5px;
        width: 95%;
        background-color: $secondary-silver;
        margin: 8px auto $tablet-gutter;

        @include desktop{
            background-color: $primary-light;
        }
    }
}