@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;


.video-content {
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
    }

    &__main{
        @include desktop {
            width:60%;
        }

    }

    &__next{

    }

}

.next-videos {
    // display:flex;
}